<p><%= comment.body %>
Posted by: <%= comment.author.username %> 
<%= link_to "Reply", comment_url(comment) %></p>
<ul>
  <% comments_by_parent[comment.id].each do |child| %>
  <li>
    <%= comment_partial(child, comments_by_parent) %>
  </li>
  <% end %>
</ul>
